﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="css/css.css" rel="stylesheet" />
    <title></title>
</head>
<body ng-app="app">
    <div class="formDiv" ng-controller="myCtrl">
        <form class="form-style-4" name="myForm" id="form1" ng-submit="submit_form(form)">
            <label>Zaposlenik: </label><br>
            <input type="text" ng-model="form.employee" maxlength="10" required> <br>
            <label>Ime:</label> <br>
            <input type="text" ng-model="form.name" maxlength="30" required> <br>
            <label>Prezime: </label> <br>
            <input type="text" ng-model="form.lastname" maxlength="50" required> <br>
            <label>Datum: </label> <br>
            <input type="date" ng-model="form.date" required><br>
            <label>Cijena: </label><br>
            <input type="number" ng-model="form.price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0.01" step="0.01" required> <br>
            <label>Količina: </label> <br>
            <input type="number" ng-model="form.quantity" min="0" step="1" required><br>
            <label>Iznos:  </label> <br>
            <input type="number" placeholder="0" ng-model="form.sum" value="{{form.sum=form.price*form.quantity}}" required><br> <br>
            <label>Odaberite valutu plaćanja:  </label> <br>
            <select ng-model="form.val">
                <option value="AUD">AUD
                <option value="CAD">CAD
                <option value="CZK">CZK
                <option value="DKK">DKK
                <option value="HUF">HUF
                <option value="JPY">JPY
                <option value="NOK">NOK
                <option value="SEK">SEK
                <option value="CHF">CHF
                <option value="GBP">GBP
                <option value="USD">USD
                <option value="XDR">XDR
                <option value="EUR">EUR
                <option value="PLN">PLN
            </select>
            <br>
            <input type="submit" value="Submit" />
            <input type="reset" ng-click="writeToFile()" value="Reset" />
        </form>
        <pre>Submit Form: {{ formData }} </pre>
    </div>
    <script src="Scripts/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="Controllers/appController.js"></script>
    <script src="js/ajax.js"></script>
</body>
</html>